{% extends "core/base.html" %}
{% load static %}
{% block content %}
<div class="container mt-3"id="contact">
    <h1 class="text-warning mb-3 border-bottom">CONTACT US</h1>
    <div class="row text-light mb-5">
        <p class="mx-auto mb-5 text-center">
            Do you have any questions? Please contact us. We'd love to hear from you!
        </p>
        <div class="col-sm-9 mx-auto">
            <form action="" method="post" class="bg-dark p-4 rounded">
                {% csrf_token %}
                <!-- Name and Email fields in one row -->
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputName" class="form-label">Your Name</label>
                        <input type="text" class="form-control" id="inputName" name="name" placeholder="Your Name" required />
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputEmail" class="form-label">Your Email *</label>
                        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Your Email" required />
                    </div>
                </div>
                <!-- Subject field -->
                <div class="form-group mb-3">
                    <label for="inputSubject" class="form-label">Your Subject</label>
                    <input type="text" class="form-control" id="inputSubject" name="subject" placeholder="Your Subject" required />
                </div>
                <!-- Message field -->
                <div class="form-group mb-4">
                    <label for="inputMessage" class="form-label">Your Message *</label>
                    <textarea class="form-control" id="inputMessage" name="message" rows="5" placeholder="Your message *" required></textarea>
                </div>
                <!-- Submit button -->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-warning w-50 text-center">
                      Send Message
                    </button>
                  </div>
        </div>
        <div class="col-sm-3 text-center">
            <ul class='list-unstyled'>
                <li>
                    <i class='fas fa-map-marker-alt fa-3x icon-color mb-3'style="text-decoration:none;color:#e9c250;"></i>
                    <br/>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1879.4904116705382!2d84.92594959519651!3d19.58532223389891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a22abfc1a7fcaff%3A0xa2def62bab8caf10!2sChingudighai!5e0!3m2!1sen!2sin!4v1744190210008!5m2!1sen!2sin" width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </li>
                <li>
                    <i class='fas fa-phone fa-3x icon-color mt-4'style="text-decoration:none;color:#e9c250;"></i>
                    <br/>
                    <a href="tel:+7077862714" style="text-decoration:none;color:#e9c250;">+91 7077862714</a>

                </li>
                <li>
                    <i class='fas fa-envelope mt-5 fa-3x icon-color'style="text-decoration:none;color:#e9c250;"></i>
                    <br/>
                   <a href="mailto:+djproject963@gmail.com" style="text-decoration:none;color:#e9c250;">djproject963@gmail.com</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="text-center mb-2">
       <a href="#" target="_blank"><i class="fab fa-twitter text-warning icon-color me-3 fa-2x"></i></a>
       <a href="#" target="_blank"><i class="fab fa-facebook text-warning icon-color me-3 fa-2x"></i></a>
       <a href="#" target="_blank"><i class="fab fa-instagram text-warning icon-color me-3 fa-2x"></i></a>
       <a href="#" target="_blank"><i class="fab fa-linkedin text-warning icon-color me-3 fa-2x"></i></a>
       <a href="#" target="_blank"><i class="fab fa-github text-warning icon-color me-3 fa-2x"></i></a>
    </div>


</div>
{% endblock content %}
