{% extends "core/base.html" %}
{% load static %}
{% block content %}
<div id="home" class="container mt-5">
  <div class="text-center">
    <img
      src="{% static 'core/images/photo.jpg' %}"
      alt="Photo"
      class="img-thumbnail mt-5"
      width="250"
      height="99" style="border-radius: 30%;background-color:#212529;border:none"
    />
  </div>
  <div class="text-white mt-3 mx-5" style="text-align: justify;">
    <h1 class="fw-bold">Hello, </h1>
    <div class='px-5'style='line-height:1.5'>
      <p style="text-indent: 100px;">
        I am Debasish, a passionate and dedicated web developer with a keen eye for detail. With a strong foundation in HTML, CSS, and JavaScript, I specialize in creating visually appealing and user-friendly websites.
      </p>
    </div>
  </div>
  <div class='text-center'>
  <a href="{%url 'contact'%}" class="btn btn-outline-warning my-3 me-5">Hire</a>
<a href="{%url 'contact'%}"  class="btn btn-outline-info my-3">Contact</a>
</div>
</div>
{% endblock content %}
